<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="header">
                  <h4 class="title pull-left">All Completed Leads</h4>
                  &nbsp; &nbsp; <input type="text" [(ngModel)]="phoneNumber" placeholder="Search">
                  <input style="float:right;" class="border-input" type="date" name="date" [(ngModel)]="completedDate" (ngModelChange)="followUpLeads('COMPLETED','0','0')" #txtFname>
                  <hr>
                  <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
              </div>
              <div class="content table-responsive table-full-width " style="margin-left:1px; margin-right:1px;">
                  <table class="table table-striped">
                      <!-- <thead>
                          <tr>
                              <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                          </tr>
                      </thead> -->
                      <td>Lead</td>
                      <!-- <td>JobId</td> -->
                      <td>Customer_Phone</td>

                      <td>Category</td>
                      <td>Brand</td>
                      <td>Completed Date</td>

                      <tbody *ngIf="txtFname.value">
                          <tr *ngFor="let row of followUpLeadsDetail | searchfilter: 'completed_date' : txtFname.value; let i=index;">
                              <!-- <p>{{ jobpostdetail?.length }}</p> -->
                              <td>{{row.l_id}}</td>
                              <!-- <td>{{row.job_id}}</td> -->
                              <td>{{row.c_phone}}</td>

                              <td>{{row.category}}</td>
                              <td>{{row.brand}}</td>
                              <td>{{row.completed_date}}</td>
                              <!-- <td>{{row.address1}}<br>{{row.address2}}<br>{{row.city}}<br>{{row.state}}<br>{{row.zip}}</td> -->
                              <td>
                                <!-- <button class="btn-primary" style="color: white;" (click)="followUp(row.l_id,row.st_phone,row.c_phone)" >Follow Up</button> -->
                                <button class="btn-info" style="color: white;" (click)="viewLead(row.l_id)" >Details</button>
                                <button class="btn-info" style="color: white;" (click)="reopenLead(row.completed_date,row.l_id)" >Reopen</button>
                                <!-- <button class="btn-success" style="color: white;" (click)="completed(row.l_id,row.st_phone,row.c_phone)">Completed</button> -->
                                <!-- <button style="background-color: #0095FF;color: white;" (click)="editLead(row.l_id)" >Edit</button> -->
                                <!-- <button class="btn-primary" style="color: white;" (click)="unAssignLead(row.l_id)" >UnAssign</button> -->
                            </td>
                          </tr>
                      </tbody>
                      <tbody *ngIf="!txtFname.value">
                          <tr *ngFor="let row of followUpLeadsDetail | filter: phoneNumber">
                              <!-- <p>{{ jobpostdetail?.length }}</p> -->
                              <td>{{row.l_id}}</td>
                              <!-- <td>{{row.job_id}}</td> -->
                              <td>{{row.c_phone}}</td>

                              <td>{{row.category}}</td>
                              <td>{{row.brand}}</td>
                              <td>{{row.completed_date}}</td>
                              <!-- <td>{{row.address1}}<br>{{row.address2}}<br>{{row.city}}<br>{{row.state}}<br>{{row.zip}}</td> -->
                              <td>
                                <!-- <button class="btn-primary" style="color: white;" (click)="followUp(row.l_id,row.st_phone,row.c_phone)" >Follow Up</button> -->
                                <button class="btn-info" style="color: white;" (click)="viewLead(row.l_id)" >Details</button>
                                <button class="btn-info" style="color: white;" (click)="reopenLead(row.completed_date,row.l_id)" >Reopen</button>
                                <!-- <button class="btn-success" style="color: white;" (click)="completed(row.l_id,row.st_phone,row.c_phone)">Completed</button> -->
                                <!-- <button style="background-color: #0095FF;color: white;" (click)="editLead(row.l_id)" >Edit</button> -->
                                <!-- <button class="btn-primary" style="color: white;" (click)="unAssignLead(row.l_id)" >UnAssign</button> -->
                            </td>
                          </tr>
                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>

<app-dialog [(visible)]="showDialog">

  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Lead Details</a></li>
            <li><a data-toggle="tab" href="#menu1">FollowUp Details</a></li>
          </ul>
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="card">

                  <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                          <p>
                            <b>Name:</b> {{customerAddressByLeadId.name}}<br>
                            <b>Phone:</b> {{customerAddressByLeadId.c_phone}}<br>
                            <b>Email:</b> {{customerAddressByLeadId.email}}<br>
                            <b>Address:</b> {{customerAddressByLeadId.address}}, {{customerAddressByLeadId.city}},
                                      {{customerAddressByLeadId.state}} - {{customerAddressByLeadId.zip}}
                                      <br>Phone:{{customerAddressByLeadId.optional_phone}}
                          </p>
                        </div>
                        <div class="col-md-12">
                          <hr>
                          <p><b>Category:</b> {{leadsDetailsById.category}}</p>
                          <p><b>Brand:</b> {{leadsDetailsById.brand}}</p>
                          <p><b>Description:</b> {{leadsDetailsById.description}}</p>
                          <p><b>Date & Time:</b> {{leadsDetailsById.date}}</p>
                        </div>

                    </div>
                  </div>
              </div>
              <div class="card" *ngIf='withoutGstBills_length'>

                <div class="content">
                  <div class="row">
                      <div class="col-md-12" *ngFor="let b of withoutGstBills;">
                        <p>
                            <b>Bill Date:</b> {{b.date}}
                            <button class="btn-primary" style="color: white;" (click)=createPdf(b)><p>VIEW</p></button>
                        </p>
                      </div>
                  </div>
                </div>
            </div>
            <div class="card" *ngIf='withGstBills_length'>

                <div class="content">
                  <div class="row">
                      <div class="col-md-12" *ngFor="let b of withGstBills;">
                        <p>
                            <b>Bill Date:</b> {{b.date}}
                            <button class="btn-primary" style="color: white;" (click)=createPdf(b)><p>VIEW</p></button>
                        </p>
                      </div>
                  </div>
                </div>
            </div>
            </div>
            <div id="menu1" class="tab-pane fade">
              <div class="card">

                  <div class="content">
                    <div class="row">
                        <div class="col-md-12" *ngFor="let x of followupmsg">
                            <p>
                              <b>Worked By:</b> {{x.st_phone}}<br>
                              <b>Added Date:</b> {{x.date}}<br>
                              <b>FollowUp Date:</b> {{x.followUpDate}}<br>
                              <b>Message:</b> {{x.message}}<br>
                              <span *ngIf="x.audio">
                                <audio controls>
                                        <source [src]="x.audio">
                                </audio>
                              </span>
                            </p>
                            <div class="col-md-4" *ngFor="let y of x.images">
                              <img src="{{y.image}}" width="100" height="100">
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</app-dialog>
