<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="header">
                  <h4 class="title pull-left">All Open Leads</h4>
                  <hr>
                  <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
              </div>
              <div class="content table-responsive table-full-width " style="margin-left:1px; margin-right:1px;">
                  <table class="table table-striped">
                      <!-- <thead>
                          <tr>
                              <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                          </tr>
                      </thead> -->
                      <td>Lead</td>
                      <!-- <td>JobId</td> -->
                      <td>Phone</td>
                      <td>Category</td>
                      <td>Brand</td>
                    
                      <td>Date & Time</td>

                      <tbody>
                          <tr *ngFor="let row of allLeadsDetail;let i=index;">
                              <!-- <p>{{ jobpostdetail?.length }}</p> -->
                              <td>{{row.l_id}}</td>
                              <!-- <td>{{row.job_id}}</td> -->
                              <td>{{row.c_phone}}</td>
                              <td>{{row.category}}</td>
                              <td>{{row.brand}}</td>

                              <td>{{row.date}}</td>
                              <!-- <td>{{row.address1}}<br>{{row.address2}}<br>{{row.city}}<br>{{row.state}}<br>{{row.zip}}</td> -->
                              <td>
                                <button class="btn-primary" style="color: white;" (click)="viewLead(row.l_id)" >Assign Lead</button>
                                <button class="btn-info" style="color: white;" (click)="editLead(row.l_id)" >Edit</button>
                                <button class="btn-danger" style="color: white;" (click)="deleteLead(row.l_id)" >Delete</button>
                            </td>
                          </tr>
                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="header">
                  <h4 class="title pull-left">Today FollowUp Open Leads</h4>
                  <hr>
                  <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
              </div>
              <div class="content table-responsive table-full-width " style="margin-left:1px; margin-right:1px;">
                  <table class="table table-striped">
                      <!-- <thead>
                          <tr>
                              <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                          </tr>
                      </thead> -->
                      <td>Lead</td>
                      <!-- <td>JobId</td> -->
                      <td>Phone</td>
                      <td>Category</td>
                      <td>Brand</td>
                      <td>Date & Time</td>

                      <tbody>
                          <tr *ngFor="let row of followUpLeadsDetail;let i=index;">
                              <!-- <p>{{ jobpostdetail?.length }}</p> -->
                              <td>{{row.l_id}}</td>
                              <!-- <td>{{row.job_id}}</td> -->
                              <td>{{row.c_phone}}</td>
                              <td>{{row.category}}</td>
                              <td>{{row.brand}}</td>
                              <td>{{row.date}}</td>
                              <!-- <td>{{row.address1}}<br>{{row.address2}}<br>{{row.city}}<br>{{row.state}}<br>{{row.zip}}</td> -->
                              <td>
                                <button class="btn-primary" style="color: white;" (click)="viewFollowUpLead(row.l_id)" >Assign Lead</button>
                                <!-- <button style="background-color: #0095FF;color: white;" (click)="editLead(row.l_id)" >Edit</button> -->
                                <!--  <button class="btn-danger" style="color: white;" (click)="deleteLead(row.l_id)" >Delete</button> -->
                            </td>
                          </tr>
                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Reopened Leads</h4>
                    <hr>
                    <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
                </div>
                <div class="content table-responsive table-full-width " style="margin-left:1px; margin-right:1px;">
                    <table class="table table-striped">
                        <!-- <thead>
                            <tr>
                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                            </tr>
                        </thead> -->
                        <td>Lead</td>
                        <!-- <td>JobId</td> -->
                        <td>Phone</td>
                        <td>Category</td>
                        <td>Brand</td>
                        <td>Date & Time</td>
  
                        <tbody>
                            <tr *ngFor="let row of reOpenedLeadsDetail;let i=index;">
                                <!-- <p>{{ jobpostdetail?.length }}</p> -->
                                <td>{{row.l_id}}</td>
                                <!-- <td>{{row.job_id}}</td> -->
                                <td>{{row.c_phone}}</td>
                                <td>{{row.category}}</td>
                                <td>{{row.brand}}</td>
                                <td>{{row.date}}</td>
                                <!-- <td>{{row.address1}}<br>{{row.address2}}<br>{{row.city}}<br>{{row.state}}<br>{{row.zip}}</td> -->
                                <td>
                                  <button class="btn-primary" style="color: white;" (click)="viewFollowUpLead(row.l_id)" >Assign Lead</button>
                                  <!-- <button style="background-color: #0095FF;color: white;" (click)="editLead(row.l_id)" >Edit</button> -->
                                  <!--  <button class="btn-danger" style="color: white;" (click)="deleteLead(row.l_id)" >Delete</button> -->
                              </td>
                            </tr>
                        </tbody>
                    </table>
  
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title pull-left">Reopened FollowUp Leads</h4>
                      <hr>
                      <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
                  </div>
                  <div class="content table-responsive table-full-width " style="margin-left:1px; margin-right:1px;">
                      <table class="table table-striped">
                          <!-- <thead>
                              <tr>
                                  <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                              </tr>
                          </thead> -->
                          <td>Lead</td>
                          <!-- <td>JobId</td> -->
                          <td>Phone</td>
                          <td>Category</td>
                          <td>Brand</td>
                          <td>Date & Time</td>
    
                          <tbody>
                              <tr *ngFor="let row of followUpReOpenedLeads;let i=index;">
                                  <!-- <p>{{ jobpostdetail?.length }}</p> -->
                                  <td>{{row.l_id}}</td>
                                  <!-- <td>{{row.job_id}}</td> -->
                                  <td>{{row.c_phone}}</td>
                                  <td>{{row.category}}</td>
                                  <td>{{row.brand}}</td>
                                  <td>{{row.date}}</td>
                                  <!-- <td>{{row.address1}}<br>{{row.address2}}<br>{{row.city}}<br>{{row.state}}<br>{{row.zip}}</td> -->
                                  <td>
                                    <button class="btn-primary" style="color: white;" (click)="viewFollowUpLead(row.l_id)" >Assign Lead</button>
                                    <!-- <button style="background-color: #0095FF;color: white;" (click)="editLead(row.l_id)" >Edit</button> -->
                                    <!--  <button class="btn-danger" style="color: white;" (click)="deleteLead(row.l_id)" >Delete</button> -->
                                </td>
                              </tr>
                          </tbody>
                      </table>
    
                  </div>
              </div>
          </div>
      </div>
    </div>

<app-dialog [(visible)]="showDialog">
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Lead Details</h4>
                    <hr>
                    <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
                </div>
                <div class="content">
                  <div class="row">
                      <div class="col-md-12">
                        <p>
                          <b>Name:</b> {{customerAddressByLeadId.name}}<br>
                          <b>Phone:</b> {{customerAddressByLeadId.c_phone}}<br>
                          <b>Email:</b> {{customerAddressByLeadId.email}}<br>


                          <b>Address:</b> {{customerAddressByLeadId.address}}, {{customerAddressByLeadId.city}},
                                    {{customerAddressByLeadId.state}} - {{customerAddressByLeadId.zip}}
                                    <br>Phone: {{customerAddressByLeadId.optional_phone}}
                          </p>
                      </div>
                      <div class="col-md-12">
                        <hr>
                        <p><b>Category:</b> {{leadsDetailsById.category}}</p>
                        <p><b>Brand:</b> {{leadsDetailsById.brand}}</p>
                        <p><b>Description:</b> {{leadsDetailsById.description}}</p>
                        <p><b>Date & Time:</b> {{leadsDetailsById.date}}</p>
                      </div>
                      <div class="col-md-12">
                        <hr>
                        <p><b>Select Service Team:</b>
                          <select [(ngModel)]="selected_st_phone" class="form-control border-input">
                            <option *ngFor="let s of service_team" [ngValue]="s.st_phone">{{s.st_phone}} ~ ({{s.name}})</option>
                          </select>
                        </p>
                        <button class="btn btn-default" (click)="assignLead()" >Assign Lead</button>
                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</app-dialog>

<app-dialog [(visible)]="showDialogEdit">
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Edit Lead Details</h4>
                    <hr>
                    <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
                </div>
                <div class="content">
                  <div class="row">
                      <div class="col-md-12">
                        <p>
                          <b>Name:</b> {{customerAddressByLeadId.name}}<br>
                          <b>Phone:</b> {{customerAddressByLeadId.c_phone}}<br>
                          <b>Email:</b> {{customerAddressByLeadId.email}}<br>


                        <b>Address:</b> {{customerAddressByLeadId.address}}, {{customerAddressByLeadId.city}},
                                    {{customerAddressByLeadId.state}} - {{customerAddressByLeadId.zip}}
                                    <br>Phone: {{customerAddressByLeadId.optional_phone}}
                        </p>

                      </div>
                      <div class="col-md-6 form-group">
                        <hr>
                        <p><b>Select Category: </b></p>
                        <select [(ngModel)]="selectedCategory" class="form-control border-input">
                          <option *ngFor="let c of category" [ngValue]="c">{{c}}</option>
                        </select>
                      </div>
                      <div class="col-md-6 form-group">
                        <hr>
                        <p><b>Select Brand: </b></p>
                        <select [(ngModel)]="selectedBrand" class="form-control border-input">
                          <option *ngFor="let b of brand;let i=index;" [ngValue]="b">{{b}}</option>
                        </select>
                      </div>
                      <div class="col-md-12 form-group">
                        <textarea class="form-control border-input" rows="5" [(ngModel)]="description"></textarea>
                      </div>

                      <div class="col-md-12">
                        <button class="btn btn-default" (click)="updateLeadDetailsById()" >Update</button>
                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</app-dialog>

<app-dialog [(visible)]="showFollowUpModel">

  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Lead Details</a></li>
            <li><a data-toggle="tab" href="#menu1">FollowUp Details</a></li>
          </ul>
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="card">

                  <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                          <p>
                            <b>Name:</b> {{customerAddressByLeadId.name}}<br>
                            <b>Phone:</b> {{customerAddressByLeadId.c_phone}}<br>
                            <b>Email:</b> {{customerAddressByLeadId.email}}<br>
                            <b>Address:</b> {{customerAddressByLeadId.address}}, {{customerAddressByLeadId.city}},
                                      {{customerAddressByLeadId.state}} - {{customerAddressByLeadId.zip}}
                                      <br>Phone:{{customerAddressByLeadId.optional_phone}}
                          </p>
                        </div>
                        <div class="col-md-12">
                          <hr>
                          <p><b>Category:</b> {{leadsDetailsById.category}}</p>
                          <p><b>Brand:</b> {{leadsDetailsById.brand}}</p>
                          <p><b>Description:</b> {{leadsDetailsById.description}}</p>
                          <p><b>Date & Time:</b> {{leadsDetailsById.date}}</p>
                        </div>
                        <div class="col-md-12">
                          <hr>
                          <p><b>Select Service Team:</b>
                            <select [(ngModel)]="selected_st_phone" class="form-control border-input">
                              <option *ngFor="let s of service_team" [ngValue]="s.st_phone">{{s.st_phone}} ~ ({{s.name}})</option>
                            </select>
                          </p>
                          <button class="btn btn-default" (click)="assignLead()" >Assign Lead</button>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            <div id="menu1" class="tab-pane fade">
              <div class="card">

                  <div class="content">
                    <div class="row">
                        <div class="col-md-12" *ngFor="let x of followupmsg">
                            <p>
                              <b>Worked By:</b> {{x.st_phone}}<br>
                              <b>Added Date:</b> {{x.date}}<br>
                              <b>FollowUp Date:</b> {{x.followUpDate}}<br>
                              <b>Message:</b> {{x.message}}<br>
                              <span *ngIf="x.audio">
                                <audio controls>
                                        <source [src]="x.audio">
                                </audio>
                              </span>
                            </p>
                            <div class="col-md-4" *ngFor="let y of x.images">
                              <img src="{{y.image}}" width="100" height="100">
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</app-dialog>
